{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Foods</title>
    <link rel="icon" type="image/x-icon" href="{% static 'tienda/Imagenes/icono.webp' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tienda/CSS/Styles.css' %}">

</head>

<body>
    <div class="sticky">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'inicio' %}">
                    <img src="{% static 'tienda/Imagenes/nav-bar-icon.png' %}" id="nav-icon" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Menú</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'registro' %}">Registrar usuario</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'carrito' %}">Carrito de compras</a>
                        </li>
                    </ul>
                    {% if user.is_authenticated %}
                    <div class="d-flex align-items-center">
                        <div class="welcome-text">Bienvenido, {{ user.get_username }}.</div>
                        <form action="{% url 'logout' %}" method="post" class="logout-form">
                            {% csrf_token %}
                            <button type="submit" class="logout-button">
                                <img src="{% static 'tienda/Imagenes/logout.png' %}" alt="Logout">
                            </button>
                        </form>
                    </div>
                    {% else %}
                    <div>
                        <a href="{% url 'login' %}">
                            <img src="{% static 'tienda/Imagenes/login.png' %}" width="40" alt="Login">
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>

    <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'tienda/Imagenes/comida1.jpeg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Descubre el Sabor de la Tradición</h5>
                    <p>Sumérgete en una experiencia culinaria que celebra la auténtica cocina tradicional. Cada plato
                        está preparado con recetas heredadas y un toque moderno que te hará sentir como en casa,
                        transportándote a los sabores de antaño.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'tienda/Imagenes/completo.jpg' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Sabor Inolvidable, Calidad Impecable</h5>
                    <p>Deléitate con platos elaborados con los ingredientes más frescos y un toque de creatividad.
                        Nuestra dedicación a la excelencia culinaria garantiza que cada bocado sea una experiencia
                        inolvidable, perfecta para cualquier ocasión.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'tienda/Imagenes/comida3.webp' %}" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Donde Cada Comida Cuenta una Historia</h5>
                    <p>Disfruta de un ambiente acogedor y platos que narran nuestra pasión por la gastronomía. Desde la
                        selección de los mejores ingredientes hasta la presentación final, cada detalle está pensado
                        para ofrecerte una experiencia que combina sabor y emoción.</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container container-bebidas">
    {% if user.is_authenticated %}
    <a href="{% url 'agregar_producto' %}">Agregar Producto</a>
    {% endif %}
        {% if bebidas %}
        <div class="row">
            {% for bebida in bebidas %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{bebida.imagen.url}}" class="{{bebida.nombre}} card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ bebida.nombre }}</h5>
                        <p class="card-text">{{ bebida.descripcion }}</p>
                        <p class="card-text">$ {{ bebida.precio }}</p>
                        {% if user.is_authenticated %}
                        <a href="{% url 'actualizar_producto' bebida.id %}">Actualizar Producto</a>
                        <a href="{% url 'eliminar_producto' bebida.id %}">Eliminar producto</a>
                        {% endif %}
                        <form action="{% url 'agregar_al_carrito' bebida.id %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No hay bebidas para mostrar</p>
        {% endif %}
    </div>

    <div class="container-custom">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="{% url 'inicio' %}" class="nav-link px-2 text-muted">Inicio</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sobre Nosotros</a></li>
            </ul>
            <p class="text-center text-muted">© 2024 Dream Food, Inc</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>